<h1 class="section-title">Promoções</h1>
<div class="center-products">
  <app-card [product]="{
      name: 'Belo bem lindo',
      price: 99.99,
      imageUrl: '../../assets/belo.jpg',
      description: 'Belo bem lindo descricao'
  }"></app-card>
  <app-card [product]="{
    name: 'Belo bem lindo',
    price: 99.99,
    imageUrl: '../../assets/belo.jpg',
    description: 'Belo bem lindo descricao'
}"></app-card>
<app-card [product]="{
  name: 'Belo bem lindo',
  price: 99.99,
  imageUrl: '../../assets/belo.jpg',
  description: 'Belo bem lindo descricao'
}"></app-card>
<app-card [product]="{
  name: 'Belo bem lindo',
  price: 99.99,
  imageUrl: '../../assets/belo.jpg',
  description: 'Belo bem lindo descricao'
}"></app-card>
<app-card [product]="{
  name: 'Belo bem lindo',
  price: 99.99,
  imageUrl: '../../assets/belo.jpg',
  description: 'Belo bem lindo descricao'
}"></app-card>
<app-card [product]="{
  name: 'Belo bem lindo',
  price: 99.99,
  imageUrl: '../../assets/belo.jpg',
  description: 'Belo bem lindo descricao'
}"></app-card>
</div>
<h2 class="section-title">Tecnologia</h2>